@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    max-height: 100%;
    background-color: #F3F5FC;
    height: 80%;
    font-family: 'Inter';
}

main {
    display: grid;
    grid-template-columns: 0.5fr 4fr 1.3fr;
    padding: 4%;
    height: 100%;
}

.logo {
    padding: 0% 4.2%;
}

.input {
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input textarea, .input textarea::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
    width: 98%;
    height: 348px;
    resize: none;
    border: none;
}

.info-text {
    margin-bottom: 20px;
    font-family: 'Inter';
}

.info-text p {
    display: inline;
    margin-left: 1px;
}

.result-container {
    font-family: 'Inter';
    text-align: center;
    padding: 8%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container img {
    width: 100%;
}

.result-container textarea{
    height: 80%;
    width: 100%;
    margin-bottom: 5%;
    resize: none;
    border: none;
    color: #495057;
    font-size: 24px;
    font-style: 'Inter';
}

.button-group {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button {
    padding: 24px;
    width: 40%;
    height: 67px;

    border-radius: 24px;
}

.primary-button {
    background: #0A3871;
    color: white;
}

.secondary-button {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.result-container button {
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #0A3871;
}

@media (max-width: 768px) {
    main {
        display: block;
    }
    .input {
        height: 80%;
    }
    .result-container img {
        display: none;
    }
}

@media (max-width: 375px) {
    .input {
        height: 80%;
    }
    .input textarea {
        margin-bottom: 20px;
        height: 100%;
    }
}